@model IEnumerable<FHICTDeploymentSystem.Models.User>

@{
    ViewData["Title"] = "Team Beheren";
}
<h1>Team</h1>

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="testimonial-inner">
                    <h2 class="title">Manage your Team</h2>
                    <div class="testimonial-slider-area">
                        <div id="owl-carousel2" class="testimonial-slider row">
                            @foreach (var item in Model)
                             {
                                <div class="col s3">
                                    <div class="single-testimonial">
                                        <div class="testimonial-content">
                                            <h3>@item.Name</h3>
                                            <span>info</span>
                                            <div>
                                                <a class="text-darken-1" href="@Url.Action("RemoveUser", "Team", item)" style="color: black">Delete user</a>
                                                <a class="text-darken-1" href="@Url.Action("EditUserInTeam", "Team", item)" style="color: black">Edit user</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>