@model IEnumerable<Models.User>

@{
    ViewData["Title"] = "Team Beheren";
}
<section id="testimonial">
    <div class="container">
        <div class="row">            
            <div class="col s12">
                <div class="testimonial-inner">
                    <h2 class="title">Manage your Team</h2>
                    <button class="btn-voorkeur"><a asp-controller="Team" asp-action="ShowTeachers" style="color: black">Add teachers</a></button><br /><br />
                    <div class="testimonial-slider-area">
                        <div id="owl-carousel2" class="testimonial-slider row">
                            @foreach (var item in Model)
                            {
                                <div class="col s3">
                                    <div class="single-testimonial">
                                        <div class="testimonial-content">
                                            <h3>@item.Name</h3>
                                            <span>info</span>
                                            <div class="btn-primary">
                                                <button class="btn-voorkeur"><a id="RemoveUser" onclick="RemoveUser(@item.Id)" type="submit" value="Remove teacher" style="color:black">Remove teacher</a></button><br /><br />
                                                <button class="btn-voorkeur"><a href="@Url.Action("EditUserInTeam", "Team", item)" style="color: black">Edit teacher</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function RemoveUser(teacherId) {
        console.log(teacherId);
        var teacher = {
            'Id': teacherId
        }
        var controllerPath = '@Url.Action("RemoveUser", "Team")';
        $.ajax({
            url: controllerPath,
            data: JSON.stringify(teacher),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function() {
                console.log('Success!');
            },
            error: function() {
                console.log('Error');
            }
        });
        window.location.reload();
    }
</script>