@model IEnumerable<Inzetsysteem.Models.User>

@{
    ViewData["Title"] = "Team Beheren";
}
<h1>Team Beheren</h1>

<section id="testimonial">
    <div class="container">
    <div class="row">
        <div class="col s12">
            <div class="testimonial-inner">
                <h2 class="title">Beheer je team</h2>
                <div class="testimonial-slider-area">
                    <div id="owl-carousel2" class="testimonial-slider row">
                        @foreach (var item in Model)
                        {
                            <div class="col s3">
                                <div class="single-testimonial">
                                    <div class="testimonial-content">
                                        <h3>@item.Name</h3>
                                        <span>info</span>
                                        <a href="@Url.Action("RemoveUser", "Team", item)">Remove member</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>