
@{
    ViewData["Title"] = "Index";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-org.css">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>AAAAAAAAAAA</p>
</div>