@{
    ViewData["Title"] = "Ingelogd";
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="####" crossorigin="anonymous">*@

<style type="text/css">
    .form-style-5 {
        max-width: 500px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        margin-top: 50px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

        .form-style-5 fieldset {
            border: none;
        }

        .form-style-5 legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        .form-style-5 label {
            display: block;
            margin-bottom: 8px;
        }

        .form-style-5 input[type="text"],
        .form-style-5 input[type="date"],
        .form-style-5 input[type="datetime"],
        .form-style-5 input[type="email"],
        .form-style-5 input[type="number"],
        .form-style-5 input[type="search"],
        .form-style-5 input[type="time"],
        .form-style-5 input[type="url"],
        .form-style-5 textarea,
        .form-style-5 select {
            font-family: Georgia, "Times New Roman", Times, serif;
            background: rgba(255,255,255,.1);
            border: none;
            border-radius: 4px;
            font-size: 15px;
            margin: 0;
            outline: 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            background-color: #e8eeef;
            color: #8a97a0;
            -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            margin-bottom: 30px;
        }

            .form-style-5 input[type="text"]:focus,
            .form-style-5 input[type="date"]:focus,
            .form-style-5 input[type="datetime"]:focus,
            .form-style-5 input[type="email"]:focus,
            .form-style-5 input[type="number"]:focus,
            .form-style-5 input[type="search"]:focus,
            .form-style-5 input[type="time"]:focus,
            .form-style-5 input[type="url"]:focus,
            .form-style-5 textarea:focus,
            .form-style-5 select:focus {
                background: #d2d9dd;
            }

        .form-style-5 select {
            -webkit-appearance: menulist-button;
            height: 35px;
        }

        .form-style-5 input[type="submit"],
        .form-style-5 input[type="button"] {
            position: relative;
            display: block;
            padding: 19px 39px 18px 39px;
            color: #FFF;
            margin: 0 auto;
            background: #663366;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            width: 100%;
            border: 1px solid #663366;
            border-width: 1px 1px 3px;
            margin-bottom: 10px;
        }

            .form-style-5 input[type="submit"]:hover,
            .form-style-5 input[type="button"]:hover {
                background: #e40086;
            }
</style>

<div class="carousel-wrapper">
    <span id="item-1"></span>
    <span id="item-2"></span>
    <div class="carousel-item item-1">
        <h4>Onderwijstaken</h4>
        <div class="form-style-5">
            <form>
                <fieldset>
                    <legend>Titel taak</legend>
                    <input type="text" name="field1" placeholder="Code">
                    <input type="text" name="field2" placeholder="Uren">
                    <input type="text" name="field3" placeholder="Factor">
                    <input type="text" name="field4" placeholder="Onderwijseenheid">
                    <input type="text" name="field4" placeholder="Onderdeel">
                    <input type="text" name="field5" placeholder="Beheerder taak">
                    <label for="traject">Traject:</label>
                    <select id="traject" name="field6">
                        <option value="Software">Software</option>
                        <option value="Media">Media</option>
                        <option value="Technology">Technology</option>
                        <option value="Business">Business</option>
                    </select>
                </fieldset>
                <fieldset>
<textarea name="field7" placeholder="Omschrijving"></textarea>
                </fieldset>
                <input type="submit" value="Voeg toe" />
            </form>
        </div>
        <div class="parent-btn">
            <a class="btn-voorkeur btn-voorkeur-next" href="#item-2"><p>Onderwijsonderdelen</p></a>
        </div>
    </div>

    <div class="carousel-item item-2">
        <h4>Onderwijsonderdelen</h4>
        <div class="form-style-5">
            <form>
                <fieldset>
                    <legend>Titel taak</legend>
                    <input type="text" name="field1" placeholder="Code">
                    <input type="text" name="field2" placeholder="Uren">
                    <input type="text" name="field3" placeholder="Factor">
                    <input type="text" name="field4" placeholder="Onderwijseenheid">
                    <input type="text" name="field5" placeholder="Beheerder taak">
                    <label for="traject">Traject:</label>
                    <select id="traject" name="field6">
                        <option value="Software">Software</option>
                        <option value="Media">Media</option>
                        <option value="Technology">Technology</option>
                        <option value="Business">Business</option>
                    </select>
                </fieldset>
                <fieldset>
<textarea name="field7" placeholder="Omschrijving"></textarea>
                </fieldset>
                <input type="submit" value="Voeg toe" />
            </form>
        </div>
        <div class="parent-btn">
            <a class="btn-voorkeur btn-voorkeur-prev" href="#item-1"><p>Onderwijstaken</p></a>
        </div>
    </div>
</div>