@model Inzetsysteem.Models.User
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/mainLogin.css">
<body style="background-image: url(images/bg-01.jpg); background-repeat: repeat;"></body>
<div class="limiter" >
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" asp-action="Index">
                <center><a href="index.html" class="brand-logo"><img src="~/Images/fontys-logo.png" alt="logo img"></a></center>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" asp-for="Username" name="Username" placeholder="Gebruikersnaam">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" asp-for="Password" name="Password" placeholder="Wachtwoord">
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" class="login100-form-btn" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
