@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section id="skills">
    <div class="container">
        <center><h2 class="title">Mijn taken</h2></center>
        <div class="experience-inner">
            <div id="owl-carousel" class="experience-slider row">
                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak</h2>
                            <img class="activator" src="img/blok1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak</h2>
                            <img class="activator" src="img/blok2.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak</h2>
                            <img class="activator" src="img/blok3.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak</h2>
                            <img class="activator" src="img/blok4.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak</h2>
                            <img class="activator" src="img/blok3.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak</h2>
                            <img class="activator" src="img/blok1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customNavigation">
                <a class="btn prev btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                <a class="btn next btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-right brand-text"></i></a>
            </div>
        </div>
    </div>
</section>

