@{
    ViewData["Title"] = "Mijn taken";
}
<center><h1>@ViewData["Title"]</h1></center>
<body>
    <div class="customNavigation">
        <a class="btn prev btn-floating waves-effect waves-light btn-large white" href="#item-1"><i class="fa-step-backward"></i></a>
        <a class="btn next btn-floating waves-effect waves-light btn-large white" href="#item-2"><i class="mdi-navigation-chevron-right brand-text"></i></a>
    </div>
    <i class="fa-step-backward"></i>
    <div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <div class="carousel-item item-1">
            <div class="parent-btn">

                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak 1</h2>
                            <img class="activator" src="img/blok1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>

                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak 2</h2>
                            <img class="activator" src="img/blok1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item item-2">
            <div class="parent-btn">

                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak 3</h2>
                            <img class="activator" src="img/blok1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>

                <div class="col m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <h2 class="experience-title">Naam taak 4</h2>
                            <img class="activator" src="img/blok1.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator reveal-title">Categorie<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Contactpersoon</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title reveal-title">Naam Taak<i class="material-icons right">close</i></span>
                            <a href="#" class="card-subtitle">Contactpersoon</a>
                            <p>Omschrijving</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
