@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<Preference>

@{
    ViewData["Title"] = "EducationUnitPartialView";
}

<h1>OnderwijsEenheden</h1>
<body>

    <form method="post" asp-controller="Preference" asp-action="GetTrajectPreferences">
        @foreach (var Preference in @Model)
        {
            <div>
                @Html.Partial("PartialViews/RadioButtons", Preference)
            </div>
        }
        <input type="submit" value="Save">
    </form>
</body>

