
@{
    ViewData["Title"] = "OnderwijsTaakPartialView";
}

<h1>OnderwijsTaak</h1>
<body>

    <form action="" method="post">
        <label>Naam</label>
        <input type="text" name="Naam" placeholder="Naam" />
        <br />
        <label>Periode</label>
        <input type="number" name="Periode" placeholder="Periode" />
        <br />
        <label>Inzet</label>
        <input type="number" name="Inzet" placeholder="Inzet" />
        <br />
        <label>Factor</label>
        <input type="number" name="Factor" placeholder="Factor" />
        <br />
        <input type="submit" value="Save">
    </form>
</body>

