@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<Voorkeur>

@{
    ViewData["Title"] = "OnderwijsTrajectPartialView";
}

<h1>OnderwijsTrajecten</h1>
<body>

    <form method="post" asp-controller="Preference" asp-action="GetTrajectPreferences">
        @foreach (var voorkeur in @Model)
        {
            <div>
                @Html.Partial("PartialViews/RadioButtons", voorkeur)
            </div>
        }
        <input type="submit" value="Save">
    </form>
</body>

