
@{
    ViewData["Title"] = "OnderwijsEenheidPartialView";
}

<body>

    <form action="" method="post">
        <label>Software</label>
        <label>Technology</label>
        <input type="number" name="Periode" placeholder="Periode" />
        <label>Media</label>
        <input type="number" name="Inzet" placeholder="Inzet" />
        <label>Business</label>
        <input type="number" name="Factor" placeholder="Factor" />
        <input type="submit" value="Save">
    </form>
</body>

