
@{
    ViewData["Title"] = "OnderwijsEenheidPeriodPartialView";
}

<h1>OnderwijsEenheidPeriod</h1>

<body>

<form action="" method="post">
    <label>Name</label>
    <input type="text" name="Name" placeholder="Name"/>
    <br/>
    <label>Period</label>
    <input type="number" name="Period" placeholder="Period"/>
    <br/>
    <label>Inzet</label>
    <input type="number" name="Inzet" placeholder="Inzet"/>
    <br/>
    <label>Factor</label>
    <input type="number" name="Factor" placeholder="Factor"/>
    <br/>
    <input type="submit" value="Save">
</form>
</body>

