@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<Preference>

@{
    ViewData["Title"] = "SectionPartialView";
}

<h1 id="Title" style="color: #663366"></h1>
<body>

        @foreach (var Preference in @Model)
        {
            <div>
                @Html.Partial("PartialViews/RadioButtons", Preference)
            </div>
        }
        <button id="saveBtn" onclick="goToSaveChecker()" >Save preference!</button>
</body>

@if (null != TempData["Title"])
{
    <script type="text/javascript">

        var h1 = document.createElement('h1');
        h1.innerHTML = '@TempData["Title"]';
        console.log(h1.innerHTML);

        document.getElementById('Title').appendChild(h1);
    </script>
}

<script>
    $(function() {
        $('#saveBtn').on('click', goToSaveChecker);
    });

    function goToSaveChecker() {
        console.log('hallo');

        var controllerPath = '@Url.Action("SaveChecker", "Preference")';

        //var verificationToken = $("input[name='__RequestVerificationToken']").val();

        var preferences = @Model;

        console.log(JSON.stringify(preferences));

        $.ajax({
            url: controllerPath,
            data: JSON.stringify(preferences),
            type: "POST", /*
                headers: {
                    "RequestVerificationToken": verificationToken
                },*/
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function() {
                console.log('Succes!');
            },
            error: function() {
                console.log('Error');
            }
        });
    }
</script>