@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<Preference>

@{
    ViewData["Title"] = "SectionPartialView";
}

<h1 id="Title" style="color: #663366"></h1>
<body>

    <form method="post" asp-controller="Preference" asp-action="SaveSectionPreferences">
        @foreach (var Preference in @Model)
        {
            <div>
                @Html.Partial("PartialViews/RadioButtons", Preference)
            </div>
        }
        <input type="submit" value="Save">
    </form>
</body>

@if (null != TempData["Title"])
{
    <script type="text/javascript">

        var h1 = document.createElement('h1');
        h1.innerHTML = '@TempData["Title"]';
        console.log(h1.innerHTML);

        document.getElementById('Title').appendChild(h1);
    </script>
}